.elementor-section-first {
  background-image: linear-gradient(180deg, rgba(0, 28, 81, 0.68) 0%, #001c51 100%), url(/img/about-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-section-first .navbar {
  position: relative;
  padding-top: 30px;
}
@media only screen and (max-width: 600px) {
  .elementor-section-first .navbar img {
    display: flex;
  }
}
.elementor-section-first .navbar .text-reset {
  text-decoration: none;
  color: white !important;
  font-weight: 500;
  padding-left: 14px;
  position: relative;
  padding: 7px;
}
.elementor-section-first .navbar .text-reset:hover {
  color: #48aa48 !important;
  background: rgba(43, 93, 187, 0.25);
}
.elementor-section-first .navbar .topnav {
  overflow: hidden;
}
.elementor-section-first .navbar .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 13px;
}
.elementor-section-first .navbar .topnav .icon {
  display: none;
}
@media screen and (max-width: 1050px) {
  .elementor-section-first .navbar .topnav a {
    display: none;
  }
  .elementor-section-first .navbar .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 1050px) {
  .elementor-section-first .navbar .topnav.responsive {
    position: relative;
  }
  .elementor-section-first .navbar .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .elementor-section-first .navbar .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media only screen and (max-width: 1050px) {
  .elementor-section-first .navbar {
    background-color: rgba(0, 28, 81, 0.58);
  }
}
.elementor-section-first .title-first {
  height: 100vh;
}
.elementor-section-first .title-first .houzez_section_title h2 {
  color: #FFFFFF;
  font-family: "Raleway", Sans-serif;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}
.elementor-section-first .title-first .houzez_section_title .line_first:before {
  content: "";
  display: block;
  width: 5%;
  height: 2px;
  background: #48aa48;
  margin-bottom: 15px;
}
.elementor-section-first .title-first .houzez_section_title .line_first::after {
  content: "";
  display: block;
  width: 2%;
  height: 2px;
  background: #48aa48;
  margin-top: 125px;
  position: absolute;
}
@media only screen and (max-width: 600px) {
  .elementor-section-first .title-first .houzez_section_title .line_first:before, .elementor-section-first .title-first .houzez_section_title .line_first::after {
    display: none;
  }
}
.elementor-section-first .title-first .houzez_section_subtitle {
  color: #61CE70;
  font-family: "Nunito", Sans-serif;
  font-size: 25px;
  font-weight: 100;
  line-height: 1.3em;
  padding-bottom: 25px;
}
.elementor-section-first .title-first span {
  font-family: "Nunito", Sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  color: #FFFFFF;
  padding-left: 5px;
}
.elementor-section-first .title-first i {
  color: #61CE70;
  font-size: 24px;
}
.elementor-section-first .title-first .registration {
  width: 65%;
  padding: 45px;
  background: white;
}
.elementor-section-first .title-first .registration h2 {
  font-family: "Raleway", Sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.elementor-section-first .title-first .registration .houzez_section_subtitle {
  font-family: "Nunito", Sans-serif;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 0px;
  color: #7A7A7A;
  padding-top: 15px;
  padding-bottom: 15px;
}
.elementor-section-first .title-first .registration #name {
  margin: 5px;
  outline: none;
  width: 50%;
  border: 2px solid #E6E6E6;
  padding: 5px;
}
@media only screen and (max-width: 600px) {
  .elementor-section-first .title-first .registration #name {
    width: 100%;
  }
}
@media only screen and (max-width: 780px) {
  .elementor-section-first .title-first .registration #name {
    width: 95%;
  }
}
.elementor-section-first .title-first .registration #mobile {
  margin: 5px;
  width: 50%;
  padding: 5px;
  border: 2px solid #E6E6E6;
  outline: none;
}
@media only screen and (max-width: 600px) {
  .elementor-section-first .title-first .registration #mobile {
    width: 100%;
  }
}
@media only screen and (max-width: 780px) {
  .elementor-section-first .title-first .registration #mobile {
    width: 95%;
  }
}
@media only screen and (max-width: 600px) {
  .elementor-section-first .title-first .registration .intup {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 780px) {
  .elementor-section-first .title-first .registration .intup {
    display: flex;
    flex-direction: column;
  }
}
.elementor-section-first .title-first .registration #email {
  margin: 5px;
  width: 97%;
  padding: 5px;
  border: 2px solid #E6E6E6;
  outline: none;
}
@media only screen and (max-width: 600px) {
  .elementor-section-first .title-first .registration #email {
    width: 100%;
  }
}
@media only screen and (max-width: 780px) {
  .elementor-section-first .title-first .registration #email {
    width: 95%;
  }
}
.elementor-section-first .title-first .registration #gdpr {
  padding-top: 3px;
  padding-bottom: 3px;
}
.elementor-section-first .title-first .registration #gdpr:hover {
  cursor: pointer;
}
.elementor-section-first .title-first .registration .gdpr-text {
  color: #7A7A7A;
}
.elementor-section-first .title-first .registration .button {
  text-align: center;
  padding-top: 20px;
}
.elementor-section-first .title-first .registration .button button {
  background-color: #61CE70;
  border: none;
  width: 97%;
  height: 35px;
}
@media only screen and (max-width: 900px) {
  .elementor-section-first .title-first .registration {
    width: 100% !important;
    padding: 55px;
    margin-left: 1%;
  }
}
@media only screen and (max-width: 1200px) {
  .elementor-section-first .title-first .registration {
    width: 100% !important;
    padding: 55px;
    margin-left: 1%;
  }
}

.elementor-section-second {
  background-image: linear-gradient(175deg, #001c51 26%, rgba(255, 255, 255, 0.7) 0%), url(/img/home-couple.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-section-second .title-second {
  padding-left: 8%;
}
.elementor-section-second .title-second .title-second-text {
  background: #ffffff;
  width: 20%;
  padding: 50px;
  margin-top: 75px;
  text-align: center;
  z-index: 999999;
  margin-left: 3%;
  position: absolute;
}
.elementor-section-second .title-second .title-second-text .line:before {
  content: "";
  display: block;
  width: 10%;
  height: 2px;
  background: #48aa48;
  margin-top: 10px;
  margin-left: 45%;
}
.elementor-section-second .title-second .title-second-text h2 {
  color: #000000;
  font-family: "Raleway", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 15px;
}
.elementor-section-second .title-second .title-second-text p {
  padding-top: 30px;
  padding-bottom: 25px;
  color: #7A7A7A;
}
.elementor-section-second .title-second .title-second-text button {
  padding: 10px;
  border: none;
  background-color: #61CE70;
  color: #FFFFFF;
  border-radius: 5px;
}
@media only screen and (max-width: 765px) {
  .elementor-section-second .title-second .title-second-text {
    width: 100% !important;
    position: relative;
    left: 45%;
    top: 0%;
  }
  .elementor-section-second .title-second .title-second-text .title-second-image img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .elementor-section-second .title-second .title-second-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .elementor-section-second .title-second .title-second-section .title-second-text {
    margin-left: -40% !important;
    width: 100% !important;
  }
  .elementor-section-second .title-second .title-second-section .title-second-image {
    margin-left: 4% !important;
  }
  .elementor-section-second .title-second .title-second-section .title-second-image img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .elementor-section-second .title-second .title-second-section {
    width: 100%;
  }
  .elementor-section-second .title-second .title-second-section .title-second-text {
    width: 35%;
    height: 50%;
    margin-left: -8%;
    margin-top: 5%;
  }
  .elementor-section-second .title-second .title-second-section .title-second-image {
    width: 100vh !important;
    height: 60vh !important;
  }
  .elementor-section-second .title-second .title-second-section .title-second-image img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .elementor-section-second .title-second .title-second-section .title-second-text {
    width: 25%;
    height: 35%;
    margin-left: 5%;
    margin-top: 5%;
  }
  .elementor-section-second .title-second .title-second-section .title-second-image img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1360px) {
  .elementor-section-second .title-second .title-second-section {
    width: 80%;
  }
  .elementor-section-second .title-second .title-second-section .title-second-text {
    width: 30%;
    height: 45%;
    margin-left: -2%;
    margin-top: 5%;
  }
  .elementor-section-second .title-second .title-second-section .title-second-image img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1500px) {
  .elementor-section-second .title-second .title-second-section {
    width: 80%;
  }
  .elementor-section-second .title-second .title-second-section .title-second-text {
    width: 30%;
    height: 45%;
    margin-left: -2%;
    margin-top: 5%;
  }
  .elementor-section-second .title-second .title-second-section .title-second-image img {
    width: 100%;
    height: 100%;
  }
}
.elementor-section-second .title-second .title-second-section {
  max-width: 100%;
  width: 100%;
  min-width: 100px;
}
.elementor-section-second .title-second .title-second-section .title-second-image {
  max-width: 100%;
  width: 100%;
  min-width: 100px;
  height: auto;
}
.elementor-section-second .title-second .title-second-section .title-second-image img {
  width: 100%;
  height: 100%;
}
.elementor-section-second .title-second .title-second-title {
  padding-top: 10%;
  width: 100%;
  text-align: center;
}
.elementor-section-second .title-second .title-second-title h2 {
  font-family: "Raleway", Sans-serif;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 10px;
  margin-bottom: 15px;
}
.elementor-section-second .title-second .title-second-title .line1:before {
  content: "";
  display: block;
  width: 3%;
  height: 2px;
  background: #008400;
  margin-top: 15px;
  margin-left: 48%;
}
@media only screen and (max-width: 780px) {
  .elementor-section-second .title-second .title-second-title {
    padding-top: 10% !important;
  }
}
@media only screen and (max-width: 800px) {
  .elementor-section-second .title-second .title-second-title {
    padding-top: 70%;
  }
}
.elementor-section-second .title-second .title-second-icon {
  padding-top: 10%;
  padding-bottom: 10%;
}
@media only screen and (max-width: 600px) {
  .elementor-section-second .title-second .title-second-icon ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .elementor-section-second .title-second .title-second-icon ul li {
    width: 100% !important;
    text-align: center;
  }
  .elementor-section-second .title-second .title-second-icon ul li i {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-bottom: 10px;
    color: #48aa48;
  }
  .elementor-section-second .title-second .title-second-icon ul li span {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
  }
}
@media only screen and (max-width: 780px) {
  .elementor-section-second .title-second .title-second-icon ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .elementor-section-second .title-second .title-second-icon ul li {
    width: 100% !important;
    text-align: center;
  }
  .elementor-section-second .title-second .title-second-icon ul li i {
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-bottom: 10px;
    color: #48aa48;
  }
  .elementor-section-second .title-second .title-second-icon ul li span {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
  }
}
.elementor-section-second .title-second .title-second-icon ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.elementor-section-second .title-second .title-second-icon ul li {
  width: 25%;
  padding-top: 10px;
}
.elementor-section-second .title-second .title-second-icon ul li i {
  margin-right: 10px;
  font-size: 20px;
  color: #48aa48;
}
.elementor-section-second .title-second .title-second-icon ul li span {
  font-size: 16px;
  font-weight: 500;
}
@media only screen and (max-width: 600px) {
  .elementor-section-second .title-second .title-second-icon {
    padding-top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .elementor-section-second .title-second {
    padding-left: 0;
  }
}

.elementor-section-third {
  background-image: linear-gradient(110deg, #001c51 10%, rgba(0, 28, 81, 0.25) 50%), url(/img/home-nature-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-section-third .title-third {
  padding-top: 8%;
  padding-bottom: 10%;
  color: #ffffff;
  list-style: none;
}
.elementor-section-third .title-third .houzez_section_title {
  font-family: "Raleway", Sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
}
.elementor-section-third .title-third .houzez_section_subtitle {
  font-family: "Nunito", Sans-serif;
  font-size: 30px;
  font-weight: 100;
  line-height: 1.3em;
  color: #61CE70;
}
.elementor-section-third .title-third .third-icons {
  list-style: none;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  .elementor-section-third .title-third .third-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.elementor-section-third .title-third i {
  font-size: 30px;
  color: #61CE70;
  padding-right: 20px;
}
.elementor-section-third .title-third span {
  font-size: 20px;
}
.elementor-section-third .title-third li {
  padding-top: 10px;
}

.elementor-section-fourth {
  background-image: url(/img/image-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  opacity: 0.9;
}
.elementor-section-fourth .title-fourth {
  padding-bottom: 10%;
}
.elementor-section-fourth .title-fourth .title-second-title {
  padding-top: 10%;
  width: 100%;
  text-align: center;
  position: relative;
}
.elementor-section-fourth .title-fourth .title-second-title .line2:before {
  content: "";
  display: block;
  width: 3%;
  height: 2px;
  background: #008400;
  left: 45%;
  top: 100%;
  position: absolute;
}
.elementor-section-fourth .title-fourth .title-second-title h2 {
  font-family: "Raleway", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 10px;
  margin-bottom: 45px;
}
.elementor-section-fourth .title-fourth .carousel {
  padding-top: 5%;
}
.elementor-section-fourth .title-fourth .carousel .sliderWrapper {
  background: rgb(241, 241, 241);
  width: 80%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.elementor-section-fourth .title-fourth .carousel .sliderWrapper .slider-text {
  padding: 9px;
}
.elementor-section-fourth .title-fourth .carousel .sliderWrapper .slider-text a {
  color: #585858;
  font-size: 18px;
}
.elementor-section-fourth .title-fourth .carousel .sliderWrapper .slider-text ul {
  padding-top: 15px;
  list-style: none;
  color: #585858;
}
.elementor-section-fourth .title-fourth .carousel .sliderWrapper .slider-text ul i {
  color: #585858;
}
.elementor-section-fourth .title-fourth .carousel .sliderWrapper .slider-text .item-amenities {
  display: flex;
}
.elementor-section-fourth .title-fourth .carousel .sliderWrapper .slider-text .item-amenities li {
  padding-right: 5px;
}
.elementor-section-fourth .title-fourth .carousel .sliderWrapper .slider-text .item-price-wrap {
  padding: 0;
  color: green;
}
.elementor-section-fourth .title-fourth .carousel .sliderWrapper .slider-text .item-price-wrap .price-prefix {
  font-weight: 100;
}
.elementor-section-fourth .title-fourth .carousel .sliderWrapper .slider-text .item-price-wrap .item-price {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 700;
}
.elementor-section-fourth .title-fourth .carousel .sliderWrapper .slider-text:hover a {
  color: green;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .elementor-section-fourth .title-fourth .carousel .sliderWrapper {
    width: 100%;
  }
}
.elementor-section-fourth .title-fourth .carousel img {
  width: 100%;
}
.elementor-section-fourth .title-fourth .carousel .slider div {
  position: relative;
}
.elementor-section-fourth .title-fourth .carousel .slider-center div {
  position: relative;
}
.elementor-section-fourth .title-fourth .carousel .slider-right div {
  position: relative;
}
.elementor-section-fourth .title-fourth .carousel .button {
  position: absolute;
  bottom: 60%;
  z-index: 200;
  cursor: pointer;
  color: #1c5785;
  font-size: 1em;
}
.elementor-section-fourth .title-fourth .carousel .sliderNext {
  right: 5%;
}
.elementor-section-fourth .title-fourth .carousel .sliderPrev {
  left: 5%;
}
.elementor-section-fourth .title-fourth .carousel .sliderNext-center {
  right: 5%;
}
.elementor-section-fourth .title-fourth .carousel .sliderPrev-center {
  left: 5%;
}
.elementor-section-fourth .title-fourth .carousel .sliderNext-right {
  right: 5%;
}
.elementor-section-fourth .title-fourth .carousel .sliderPrev-right {
  left: 5%;
}
.elementor-section-fourth .title-fourth .carousel p {
  position: absolute;
  font-size: 50px;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  top: 30px;
  left: 120px;
  z-index: 100;
}

.elementor-section-fifth {
  background-image: linear-gradient(320deg, #001c51 0%, rgba(0, 28, 81, 0.25) 100%), url(/img/box-11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
.elementor-section-fifth .title-fifth {
  padding-bottom: 5%;
}
.elementor-section-fifth .title-fifth .title-second-title {
  padding-top: 10%;
  width: 100%;
  text-align: center;
  position: relative;
}
.elementor-section-fifth .title-fifth .title-second-title .line3:before {
  content: "";
  display: block;
  width: 2%;
  height: 2px;
  background: #008400;
  left: 48%;
  top: 100%;
  position: absolute;
}
.elementor-section-fifth .title-fifth .title-second-title h2 {
  font-family: "Raleway", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 10px;
  margin-bottom: 20px;
  color: #FFFFFF;
}
.elementor-section-fifth .title-fifth .container {
  padding-top: 25px;
}
.elementor-section-fifth .title-fifth .container .nav {
  display: flex;
  flex-direction: column;
}
.elementor-section-fifth .title-fifth .container .nav .nav-item a {
  color: white;
}
.elementor-section-fifth .title-fifth .container .nav .nav-item .intro {
  color: #48aa48;
}
.elementor-section-fifth .title-fifth .container .nav .nav-item .active {
  color: #48aa48;
}
.elementor-section-fifth .title-fifth .container .nav-tabs {
  border: none;
}
.elementor-section-fifth .title-fifth .container .tab-content {
  background: white;
  width: 75%;
}
.elementor-section-fifth .title-fifth .container .tab-content img {
  width: 70%;
}
.elementor-section-fifth .title-fifth .container .tab-content h5 {
  text-align: center;
}

.elementor-section-sixth {
  background-image: linear-gradient(300deg, #c5cad5 0%, rgba(180, 183, 187, 0.25) 100%), url(/img/placeholder.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  position: relative;
}
.elementor-section-sixth .title-sixth {
  padding-top: 5%;
  padding-bottom: 5%;
  position: relative;
}
.elementor-section-sixth .title-sixth .title-sixth-text {
  background: #001c51;
  width: 25%;
  position: absolute;
  margin-bottom: 2%;
  padding: 5px;
  margin: 5px;
  text-align: center;
  z-index: 999999;
}
.elementor-section-sixth .title-sixth .title-sixth-text h3 {
  color: white !important;
}
.elementor-section-sixth .title-sixth .title-sixth-text p {
  color: #61CE70;
}
@media only screen and (max-width: 600px) {
  .elementor-section-sixth .title-sixth .title-sixth-text {
    width: 50%;
  }
  .elementor-section-sixth .title-sixth .title-sixth-text h3 {
    font-size: 14px;
  }
  .elementor-section-sixth .title-sixth .title-sixth-text p {
    font-size: 14px;
  }
}
.elementor-section-sixth .title-sixth .navigation {
  position: relative;
  padding-top: 25px;
}
@media only screen and (max-width: 600px) {
  .elementor-section-sixth .title-sixth .navigation img {
    width: 100%;
  }
}
@media only screen and (max-width: 1300px) {
  .elementor-section-sixth .title-sixth .navigation img {
    width: 100%;
  }
}

.elementor-section-footer {
  background-image: linear-gradient(180deg, rgba(0, 28, 81, 0.68) 0%, #001c51 100%), url(/img/about-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3%;
}
.elementor-section-footer .title-second-title {
  padding-top: 10%;
  padding-bottom: 2%;
  width: 100%;
  text-align: center;
}
.elementor-section-footer .title-second-title h2 {
  font-family: "Raleway", Sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
  color: #ffffff;
}
.elementor-section-footer .title-second-title p {
  color: #61CE70;
  font-family: "Nunito", Sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.3em;
}
.elementor-section-footer .footer-input {
  list-style: none;
  padding-left: 10%;
}
.elementor-section-footer .footer-input input {
  width: 80%;
  font-size: 16px;
  min-height: 47px;
  padding: 6px 16px;
  border-radius: 4px;
}
.elementor-section-footer .footer-input p {
  color: #48aa48;
  font-family: "Nunito", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 7%;
}
.elementor-section-footer .footer-input i {
  color: #61CE70;
  font-size: 18px;
  padding-right: 15px;
}
.elementor-section-footer .footer-input li {
  color: #ffffff;
  padding-top: 5px;
}
.elementor-section-footer .footer-input button {
  background: #61CE70;
  border: none;
  padding: 10px;
  color: white;
  margin: 0 10px;
  width: 80%;
}
@media only screen and (max-width: 1000px) {
  .elementor-section-footer .footer-input {
    display: flex;
    flex-direction: column;
    padding-left: 1px;
  }
  .elementor-section-footer .footer-input input {
    width: 100%;
  }
  .elementor-section-footer .footer-input button {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 730px) {
  .elementor-section-footer .footer-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .elementor-section-footer .footer-input input {
    width: 100%;
  }
  .elementor-section-footer .footer-input button {
    margin: 0;
    width: 100%;
  }
}
.elementor-section-footer .logo {
  text-align: center;
  padding-top: 15%;
}
.elementor-section-footer .footer-icon {
  padding-top: 2%;
  padding-bottom: 2%;
  list-style: none;
  color: #ffffff;
  width: 100% !important;
}
.elementor-section-footer .footer-icon .icons {
  display: flex;
  padding: 0;
}
.elementor-section-footer .footer-icon .icons li {
  padding-left: 20px;
}
.elementor-section-footer .footer-icon .icons li i {
  border: 1px solid rgb(255, 255, 255);
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50px;
  background: #001c51;
}
.elementor-section-footer .footer-icon .icons li i:hover {
  background: #7A7A7A;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .elementor-section-footer .footer-icon .icons li {
    padding-left: 10px;
  }
}
.elementor-section-footer .footer-text {
  text-align: center;
  padding-top: 15px;
  color: #FFFFFF;
}

.menu-user {
  background-color: #48aa48;
  width: 42px;
  height: 42px;
  position: fixed;
  left: auto;
  right: 30px;
  bottom: 30px;
  z-index: 99;
  border-radius: 5px;
}
.menu-user a {
  padding: 15px;
}
.menu-user a i {
  padding-top: 10px;
  color: white;
}/*# sourceMappingURL=style.css.map */