.elementor-section-first {
    background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%), url("/img/box-11.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .navbar {
        position: relative;

        .text-reset{         
           
            text-decoration: none;
            color: white!important;
            font-weight: 500;
            padding-left: 14px;
            position: relative;           
            padding: 7px;
            &:hover{  
                color: #48aa48!important;
                background: rgba(43, 93, 187, 0.25);              
            }
          
        }
          .topnav {
            overflow: hidden;          
          }
          
          .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
          }
                   
          .topnav .icon {
            display: none;
          }
          
          @media screen and (max-width: 760px) {
            .topnav a {display: none;}
            .topnav a.icon {
              float: right;
              display: block;
            }
          }
          
          @media screen and (max-width: 760px) {
            .topnav.responsive {position: relative;}
            .topnav.responsive .icon {
              position: absolute;
              right: 0;
              top: 0;
            }
            .topnav.responsive a {
              float: none;
              display: block;
              text-align: left;
            }
          }
    }
    @media only screen and (max-width: 760px) {
        .navbar {
            background-color:rgba(0,28,81,0.58);
          }
    }
    .title-first {
        height: 50vh;
        padding-top: 7%;

        .houzez_section_title {
            position: relative;
            .line:before {
                content: "";
                display: block;
                width: 8%;
                height: 2px;
                background: #008400;
                left: 0%;
                top: 10%;
                position: absolute;
              }
           
            h2 {
                color: #ffffff;
                font-family: "Raleway", Sans-serif;
                font-size: 50px;
                font-weight: 700;
                line-height: 1.3em;
                letter-spacing: -0.5px;
                margin-bottom: 5px;
            }
        
            padding-top: 10%;
        }

        .houzez_section_subtitle {
            p {
                color: #61CE70;
                font-family: "Nunito", Sans-serif;
                font-size: 25px;
                font-weight: 100;
                line-height: 1.3em;
                margin-bottom: 0px;
            }

        }

        .title-image {
            padding-top: 4%;

            img {
                width: 80%;
            }

            .elementor-image-box-title {
                background: #f0f0f0;
                width: 80%;
                text-align: center;
                padding: 20px;
                font-size: 16px;
            }
        }
    }

}

.elementor-section-second {
    .title-second {
         margin-top: -85px;
         .sliderWrapper {
            background: rgb(241, 241, 241);
            width: 80%;
            height: 100%;
            position: relative;
            overflow: hidden;
            .slider-text{
                padding: 9px;
                a{
                    color: #585858;
                    font-size: 18px;
                }
                ul{ 
                    padding-top: 15px; 
                    list-style: none;
                    i{
                        color: #585858;
                    }
                    color: #585858;
                }
                .item-amenities{
                    display: flex;
                    li{
                        padding-right: 5px;
                    }
                }
                .item-price-wrap{
                    padding: 0;
                    color: green;
                    .price-prefix{
                        font-weight: 100;
                    }
                    .item-price{
                        padding-top: 5px;
                        font-size: 16px;
                        font-weight: 700;
                    }
                    
                }
                &:hover a{
                    color: green;
                    cursor: pointer;
                }
            }
        }
        @media only screen and (max-width: 600px) {
            .sliderWrapper {
             width: 100%;
            }
          }
        img{
           width: 100%;
        }

        .slider div {
            position: relative;
        }
        
        .slider-center div {
            position: relative;
        }
        
        .slider-right div {
            position: relative;
        }
        

        .button {
            position: absolute;
            bottom: 60%;
            z-index: 200;
            cursor: pointer;
            color: #1c5785;
            font-size: 1em;
        }

        .sliderNext {
            right: 5%;
        }

        .sliderPrev {
            left: 5%;
        }
        .sliderNext-center {
            right: 5%;
        }

        .sliderPrev-center {
            left: 5%;
        }
        .sliderNext-right {
            right: 5%;
        }

        .sliderPrev-right {
            left: 5%;
        }
    
       

        p {
            position: absolute;
            font-size: 50px;
            font-weight: bold;
            font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
            top: 30px;
            left: 120px;
            z-index: 100;
        }
    }
    }


.elementor-section-sixth {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    position: relative;
    .houzez_section_title{
        font-family: "Raleway", Sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1.3em;
        letter-spacing: 10px;
        margin-bottom: 10px;
    }
    @media only screen and (max-width: 600px) {
        .houzez_section_title{
        text-align: center;
        letter-spacing: 5px;
        }
      }
    .line:before {
        content: "";
        display: block;
        width: 3%;
        height: 2px;
        background: #008400;
        left: 46%;
        top: 20%;
        position: absolute;
      }
      @media only screen and (max-width: 600px) {
        .line:before{
      display: none;
        }
      }
    .title-sixth {
        
        padding-bottom: 5%;

        .title-sixth-text {
            background: #001c51;
            width: 18%;
            padding: 15px;
            margin: 5px;
            text-align: center;
            z-index: 999999;
            position: absolute;
            margin-left: 5%;
            margin-top: 23%;

            h3 {
                color: white !important;
            }

            p {
                color: #61CE70;
            }
        }
        @media only screen and (max-width: 600px) {
            .title-sixth-text{
                width: 50%!important;
                h3{
                    font-size: 14px;
                    
                }
                p{
                    font-size: 14px;
                }
            }
          }
          @media only screen and (max-width: 900px) {
            .title-sixth-text{
                width: 25%!important;
                h3{
                    font-size: 14px;
                    
                }
                p{
                    font-size: 14px;
                }
            }
          }
        .navigation{
            position: relative;
            padding-top: 25px;
            @media only screen and (max-width: 600px) {
                img {
                 width: 100%;
                }
              }
              @media only screen and (max-width: 1300px) {
                img {
                 width: 100%;
                }
              }
        }   
    }

}

.elementor-section-footer{
    background-image:
    linear-gradient((180deg, rgba(0,28,81,0.68) 0%, #001c51 100%)),
    url(/img/about-3.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3%;
    .title-second-title{
        padding-top: 10%;
        padding-bottom: 2%;
        width: 100%;
        text-align: center;
        h2{
            font-family: "Raleway", Sans-serif;
            font-size: 30px;
            font-weight: 700;
            line-height: 1.3em;
            letter-spacing: -0.5px;
            margin-bottom: 10px;
            color: #ffffff;
        }
        p{
            color: #61CE70;
            font-family: "Nunito", Sans-serif;
            font-size: 20px;
            font-weight: 100;
            line-height: 1.3em;
        }
       
       
    }
    .footer-input{
        list-style: none;
        padding-left: 10%;
        input{   
            width: 80%;    
            font-size: 16px;
            min-height: 47px;
            padding: 6px 16px;
            border-radius: 4px;
        }

        p{
            color: #48aa48;
            font-family: "Nunito", Sans-serif;
            font-size: 18px;
            font-weight: 400;
            padding-top: 7%;
        }
        i{
            color: #61CE70;
            font-size: 18px;
            padding-right: 15px;
        }
        
        li{
            color: #ffffff;
            padding-top: 5px;
        }
        button{
            background:#61CE70; 
            border: none;
            padding: 10px;
            color: white;
            margin: 0 10px;
            width: 80%;
        }
    }
    @media only screen and (max-width: 1000px) {
        .footer-input{
         display: flex;
         flex-direction: column;
         padding-left: 1px;
         input{
            width: 100%;
          
         }
         button{
            margin: 0;
            width: 100%;
         }
        }
      }
    @media only screen and (max-width: 730px) {
        .footer-input{
         display: flex;
         flex-direction: column;     
         width: 100%;
         max-width: 100%;
         input{
            width: 100%;
         }
         button{
            margin: 0;
            width: 100%;
         }
        }
      }
    .logo{
        text-align: center;
        padding-top: 15%,
       
    }
    .footer-icon{
        padding-top:2%;
        padding-bottom: 2%;
        list-style: none;
        color: #ffffff;   
        width: 100%!important;
        
        .icons{            
            display: flex;            
            padding: 0;
            li{ 
                padding-left: 20px;
                i{
                    border: 1px solid rgb(255, 255, 255);
                    text-align: center;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    border-radius: 50px;
                    background: #001c51;
                    &:hover{
                        background: #7A7A7A;
                        cursor: pointer;
                    }
                }
            }
            @media only screen and (max-width: 600px) {
              li{
               padding-left: 10px;
                
              }
              }
    }
    }
    .footer-text{
      
        text-align: center;
        padding-top: 15px;
        color: #FFFFFF;
    }
}
